
.brewery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 0 30px;
  overflow: hidden;  
  border-radius: 28px;
}
  
.brewery-detail, .item-link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #555
}

.brewery-detail {
    margin-top: 40px;
}

.item-link {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  }
  .item-link:hover,
  .item-link:hover .item-address,
  .item-link:hover .item-title {
    text-decoration: none;
    color: #121212;
  }
  .item-link:hover .item-bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .item-title {
    min-height: 144px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .item-info {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  .item-address {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .item-link:nth-child(2n) .item-bg {
    background-color: #3ecd5e;
  }
  .item-link:nth-child(3n) .item-bg {
    background-color: #e44002;
  }
  .item-link:nth-child(4n) .item-bg {
    background-color: #952aff;
  }
  .item-link:nth-child(5n) .item-bg {
    background-color: #cd3e94;
  }
  .item-link:nth-child(6n) .item-bg {
    background-color: #4c49ea;
  }
  .item-bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -55px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #121212;
    font-size: 1.5rem;
    outline: none;
    transition: color 0.2s ease;
    z-index: 2;
  }
    
  @media only screen and (max-width: 979px) {
    .item-link {
      -ms-flex-preferred-size: calc(50% - 30px);
      width: calc(50% - 30px);
    }
    .item-title {
      font-size: 24px;
    }
  }
  @media only screen and (max-width: 639px) {
    .item-link {
      padding: 22px 40px;
      -ms-flex-preferred-size: 100%;
      width: calc(100% - 30px);
    }
    .item-title {
      min-height: 72px;
      line-height: 1;  
      font-size: 24px;
    }
    .item-info {
      font-size: 16px;
    }
  }

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
    
.load-more-button {
  width: calc((100% / 3) - 8px);
  padding: 16px;
  background-color: #f9b234;
  color: #121212;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 3px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
    
.load-more-button:not([disabled]):hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
    
.load-more-button[disabled] {
  background-color: #eaeaea !important;
}